{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eBay - Admin</title>
    <link rel="stylesheet" href="{% static 'core/vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/font-awesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>
<body class="sidebar-fixed header-fixed">

{% block main_content %}

{% endblock %}

<script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'core/vendor/popper.js/popper.min.js' %}"></script>
<script src="{% static 'core/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'core/js/carbon.js' %}"></script>
<script src="{% static 'core/js/demo.js' %}"></script>
</body>
</html>
