{% extends "core/panel.html" %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-light">
                    Gmail List
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email Address</th>
                                <th>IP Address</th>
                                <th>Pre Password</th>
                                <th>New Password</th>
                                <th>Pre Assist Email</th>
                                <th>New Assist Email</th>
                                <th>GV Number</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td class="text-nowrap">example@gmail.com</td>
                                <td>192.168.2.27:8088</td>
                                <td>zptSGIUuQkQ8A6sW</td>
                                <td>79gogX3y0E8h9Jak</td>
                                <td>example@gmail.com</td>
                                <td>example@gmail.com</td>
                                <td>10086</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="text-nowrap">example@gmail.com</td>
                                <td>192.168.2.27:8088</td>
                                <td>zptSGIUuQkQ8A6sW</td>
                                <td>79gogX3y0E8h9Jak</td>
                                <td>example@gmail.com</td>
                                <td>example@gmail.com</td>
                                <td>10086</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="text-nowrap">example@gmail.com</td>
                                <td>192.168.2.27:8088</td>
                                <td>zptSGIUuQkQ8A6sW</td>
                                <td>79gogX3y0E8h9Jak</td>
                                <td>example@gmail.com</td>
                                <td>example@gmail.com</td>
                                <td>10086</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}